<div class="jumbotron text-center">
  <h1>FPT</h1> 
  <p>We specialize in Finance Management</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<div class="container" style="margin-bottom: 50px">
  <div class="row">
    <div class="col-sm-8">
      <h2>About U</h2>
      <h4>Lorem ipsum..</h4>      
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
<hr>
<hr>
<hr>
<div class="container bg-grey">
  <div class="row">
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-lg-8 text-center">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid text-center" style="background-color: #2C3E50; color: #CCD1D1">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal" style="color: white; font-size: 65px"></span>
      <h4>Wealth Management</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-lightbulb-o" style="color: white; font-size: 65px"></span>
      <h4>Financial Planning</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd" style="color: white; font-size: 65px"></span>
      <h4>Investment Banking</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <hr>
</div>