<div class="banner" style="background: url(./assets/images/corpo.jpg)no-repeat center; background-color: #85C1E9">
  <div class="top-bar" style="background-color: #f4511e; height: 27px">
        <div class="container">
           <div class="row">
              <div class="col-sm-4 hidden-xs">
                  <span class="nav-text">
                      <i class="fa fa-phone" aria-hidden="true"></i>  +27 11 392 3176 
                      <i class="fa fa-envelope" aria-hidden="true"  style="margin-left: 5px"></i> info@fpt.co.za</span>
               </div>
  
               <div class="col-sm-4 text-center">
                  <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
  
                <div class="col-sm-4 text-right hidden-xs">
                    <ul class="tools">                    
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-globe" aria-hidden="true"></i> Language<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Russian</a></li>
                          <li><a href="#">French</a></li>
                          <li><a href="#">Mandarin</a></li>
                          <li><a href="#">Italian</a></li>
                          <li><a href="#">Gorgean</a></li>
                      </ul>
                    </li>              
                    </ul>
                  </div>
           </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" style="background-color: #85C1E9;border-radius: 0px; border: 0px">
        <div class="container">
         <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
               <!-- <a class="navbar-brand" href="#">eNTrav</a>-->
            </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="txt"><a href="#">Home</a></li>
                  <li class="txt"><a href="#">About</a></li>
                  <li class="txt"><a href="#">Contact</a></li>
                  <li class="txt"><a href="#">Service</a></li>
                 <!-- <li><a routerLink="/users/sign_in" target="_blank">SignIn</a></li>-->
                  <li class="txt"><a data-toggle="modal" data-target="#myModal">Sign In</a></li>
                  <li class="txt"><a data-toggle="modal" data-target="#signUp">Sign Up</a></li>
                </ul>
              </div>
         </div>
        </div>
      </nav>

      <div class="container">
         <div class="w3layouts-text" >
            <h2 style="color: #CB4335">Welcome to <strong>FPT</strong> <span>South Africa</span></h2>
               <div class="border"></div>
                  
           <div class="w3-button">
              <a href="#" data-toggle="modal" class="btn" data-target="#myModal"> Subscribe</a>
           </div>
          </div>
       </div>

        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header modal-header-primary" style="background-color: #2874A6">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="panel-title" style="color: #B2BABB">Please sign in</h4>
                    </div>
                    <div class="modal-body">
                        <form accept-charset="UTF-8" role="form">
                           <fieldset>
                                    <div class="form-group">
                                      <input class="form-control" placeholder="E-mail" name="email" type="text">
                                    </div>
                                  <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                  </div>
                                  <div class="checkbox">
                                      <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                      </label>
                                    </div>
                                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>


              <div class="modal fade" id="signUp" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header modal-header-primary" style="background-color: #2874A6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="panel-title" style="color: #B2BABB">Please sign in</h4>
                      </div>
                      <div class="modal-body">
                          <form accept-charset="UTF-8" role="form">
                             <fieldset>
                                      <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="text">
                                      </div>
                                    <div class="form-group">
                                      <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                          <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                        </label>
                                      </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                              </fieldset>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary">Login</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
  </div>
