<div class="banner" style="background: url(./assets/images/corpo.jpg)no-repeat center; background-color: #85C1E9">
  <div class="top-bar" style="background-color: #f4511e; height: 27px">
        <div class="container">
           <div class="row">
              <div class="col-sm-4 hidden-xs">
                  <span class="nav-text">
                      <i class="fa fa-phone" aria-hidden="true"></i>  +27 11 392 3176 
                      <i class="fa fa-envelope" aria-hidden="true"  style="margin-left: 5px"></i> info@fpt.co.za</span>
               </div>
  
               <div class="col-sm-4 text-center">
                  <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                  <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
  
                <div class="col-sm-4 text-right hidden-xs">
                    <ul class="tools">                    
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-globe" aria-hidden="true"></i> Language<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Russian</a></li>
                          <li><a href="#">French</a></li>
                          <li><a href="#">Mandarin</a></li>
                          <li><a href="#">Italian</a></li>
                          <li><a href="#">Gorgean</a></li>
                      </ul>
                    </li>              
                    </ul>
                  </div>
           </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" style="background-color: #85C1E9;border-radius: 0px; border: 0px">
        <div class="container">
         <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
               <!-- <a class="navbar-brand" href="#">eNTrav</a>-->
            </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="txt"><a href="#">Home</a></li>
                  <li class="txt"><a href="#">About</a></li>
                  <li class="txt"><a href="#">Contact</a></li>
                  <li class="txt"><a href="#">Service</a></li>
                 <!-- <li><a routerLink="/users/sign_in" target="_blank">SignIn</a></li>-->
                  <li class="txt"><a data-toggle="modal" data-target="#myModal">Sign In</a></li>
                  <li class="txt"><a data-toggle="modal" data-target="#signUp">Sign Up</a></li>
                </ul>
              </div>
         </div>
        </div>
      </nav>

      <div class="container">
         <div class="w3layouts-text" >
            <h2 style="color: #CB4335">Welcome to <strong>FPT</strong> <span>South Africa</span></h2>
               <div class="border"></div>
                  
           <div class="w3-button">
              <a href="#" data-toggle="modal" class="btn" data-target="#myModal"> Subscribe</a>
           </div>
          </div>
       </div>

        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header modal-header-primary" style="background-color: #2874A6">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="panel-title" style="color: #B2BABB">Please sign in</h4>
                    </div>
                    <div class="modal-body">
                        <form accept-charset="UTF-8" role="form">
                           <fieldset>
                                    <div class="form-group">
                                      <input class="form-control" [(ngModel)]="user.user_Email" placeholder="E-mail" name="email" type="text">
                                    </div>
                                  <div class="form-group">
                                    <input class="form-control" [(ngModel)]="user.user_Password" placeholder="Password" name="password" type="password" value="">
                                  </div>
                                  <div class="checkbox">
                                      <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                      </label>
                                    </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="userLogin()">Login</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>


              <div class="modal fade" id="signUp" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header modal-header-primary" style="background-color: #2874A6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="panel-title" style="color: #B2BABB">Register</h4>
                      </div>
                      <div class="modal-body">
                          <form accept-charset="UTF-8" role="form">
                             <fieldset>
                                     <div class="col-lg-12">
                                        <div class="row">
                                             <div class="col-lg-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" [(ngModel)]="user.user_Name" class="form-control" name="firstName" placeholder="Enter first name">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="firstName">Last Name</label>
                                                <input type="text" [(ngModel)]="user.user_Surname" class="form-control" name="lastName" placeholder="Enter last Name">
                                            </div>
                                        </div>
                                        <div class="row">
                                           <div class="col-lg-6">
                                              <label for="idNumber">ID No.</label>
                                              <input type="text" [(ngModel)]="user.user_IdNumber" class="form-control" name="idNumber" (keydown)="validateID($event)" placeholder="Enter ID Number">
                                           </div>
                                           <div class="col-lg-6">
                                              <label for="gender">Gender</label>
                                              <select class="form-control" [(ngModel)]="user.user_Gender" name="gender">
                                                <option value="" checked disabled>
                                                    Select Gender
                                                </option>
                                               <option value="Male">
                                                 Male
                                               </option>
                                               <option value="Female">
                                                 Female
                                               </option>
                                              </select>
                                         </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-lg-6">
                                              <label for="email">Email</label>
                                              <input type="email" class="form-control" [(ngModel)]="user.user_Email" name="email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                     title="that must be in the following order: characters@characters.domain (characters followed by an @ sign, followed by more characters, and then a '.'">
                                         </div>
                                         <div class="col-lg-6">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" [(ngModel)]="user.user_Password" name="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                                         </div>
                                     </div>
                                      </div>
                              </fieldset>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" (click)="submitUser()">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
  </div>
