<div class="container-fluid">
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem"><i class="fa fa-plus"></i> Add Item</button>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Type/Category</th>
            <th>Item Name</th>
            <th>Descritpion</th>
            <th>Expenses</th>
            <th>Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Revenue/Income</td>
            <td>Donations</td>
            <td>blah blah!!</td>
            <td>R 0.00</td>
            <td>R 5000.00</td>
          </tr>
          <tr>
              <td>2.</td>
              <td>Other Expenses</td>
              <td>Seminar</td>
              <td>blah blah!!</td>
              <td>R 200.00</td>
              <td>R 0.00</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Revenue/Income</td>
                <td>Membership</td>
                <td>blah blah!!</td>
                <td>R 0.00</td>
                <td>R 250.00</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addItem" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-primary" style="background-color: #2874A6">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="panel-title" style="color: #B2BABB">Add Item</h4>
        </div>
        <div class="modal-body">
            <form accept-charset="UTF-8" role="form">
               <fieldset>
                       <div class="col-lg-12">
                          <div class="row">
                               <div class="col-lg-6">
                                  <label for="firstName">Item Name</label>
                                  <input type="text"  class="form-control" name="itemName" placeholder="Enter item name">
                              </div>
                              <div class="col-lg-6">
                                  <label for="amount">Amount</label>
                                  <input type="text"  class="form-control" name="itemAmt" placeholder="Enter amount">
                              </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6">
                                <label for="gender">Spend Type</label>
                                <select class="form-control"  name="gender">
                                  <option value="" checked disabled>
                                      Select Spend Type
                                  </option>
                                 <option value="Income">
                                   Income
                                 </option>
                                 <option value="Investments">
                                   Investments
                                 </option>
                                 <option value="Running Cost">
                                    Running Cost
                                  </option>
                                  <option value="Other">
                                      Other Loan Products
                                    </option>
                                </select>
                           </div>
                           <div class="col-lg-6">
                              <label for="email">Description</label>
                              <textarea placeholder="Enter item description" rows="4" class="form-control"></textarea>
                         </div>
                         </div>
                        </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save Item</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>