<div class="container-fluid">
  <h1><b>ITEMS</b></h1>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem"><i class="fa fa-plus"></i> Add Item</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSpendType"><i class="fa fa-plus"></i> Add Spend Type</button>

    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-6">
        <h4><caption>Line Items</caption></h4>
      <table class="table table-hover" *ngIf="lineItemList.length > 0; else noItems">
        <thead>
          <tr>
            <th>#</th>
            <th>Type/Category</th>
            <th>Item Name</th>
            <th>Descritpion</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let itemList of lineItemList">
          <tr *ngFor="let items of itemList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ items.cat_name}}</td>
            <td>{{ items.item_Name }}</td>
            <td>{{ items.item_Desc }}</td>
            <td>R {{ items.item_Amt | number: '1.2' }}</td>
            <td>
              <ul class="list-inline">
                  <li class="list-inline-item"><a class="btn btn-danger" title="Delete Item" (click)="removeItem(items.item_ID)"><i class="fa fa-trash"></i></a></li>
                  <li class="list-inline-item"><a class="btn btn-danger" title="Edit Item"><i class="fa fa-edit"></i></a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
        <h4><caption>Spent Types</caption></h4>
        <table class="table table-hover" *ngIf="spendItems.length > 0; else noItems">
           
            <thead>
              <tr>
                <th>#</th>
                <th>Spend Type</th>
                <th>Descritpion</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody *ngFor="let itemList of spendItems">
              <tr *ngFor="let items of itemList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ items.cat_name }}</td>
                <td>{{ items.spend_type_desc }}</td>
                <td>R {{ items.spend_type_Amt | number: '1.2' }}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

<ng-template #noItems>
  <h3>No Item</h3>
</ng-template>

<!-- spinner -->
<ng4-loading-spinner> </ng4-loading-spinner>

<div class="modal fade" id="deleteItem" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-primary" style="background-color: #2874A6">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="panel-title" style="color: white">Confirmation</h4>
      </div>
      <div class="modal-body">
        <h3><b>Are you sure you want to delete the item?</b></h3>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="confirm()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addItem" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-primary" style="background-color: #2874A6">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="panel-title" style="color: #B2BABB">Add Item</h4>
        </div>
        <div class="modal-body">
            <form accept-charset="UTF-8" role="form">
               <fieldset>
                 <div class="col-lg-12">
                          <div class="row">
                               <div class="col-lg-6">
                                  <label for="firstName">Item Name</label>
                                  <input type="text" [(ngModel)]="lineItem.item_Name"  class="form-control" name="itemName" placeholder="Enter item name">
                              </div>
                              <div class="col-lg-6">
                                  <label for="amount">Amount</label>
                                  <input type="number" [(ngModel)]="lineItem.item_Amt"  class="form-control" name="itemAmt" placeholder="Enter amount">
                              </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6">
                                <label for="gender">Spend Type</label>
                                <select class="form-control" [(ngModel)]="lineItem.item_Type_ID"  name="type">
                                  <option value="" checked disabled>
                                      Select Spend Type
                                  </option>
                                 <option *ngFor="let cat of categories['0']" [value]="cat.spend_type_cat_ID">{{cat.cat_name}}</option>
                                </select>
                           </div>
                         
                           <div class="col-lg-6">
                              <label for="amount">Budget Date</label>
                              <input type="date" [(ngModel)]="lineItem.budget_date"  class="form-control" name="budget_date">
                         </div>
                         </div>
                         <div class="row">
                           <div class="col-lg-12">
                              <label for="email">Description</label>
                              <textarea placeholder="Enter item description" [(ngModel)]="lineItem.item_Desc" name="itemDesc" rows="4" class="form-control"></textarea>
                           </div>
                         </div>
                        </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveItem()">Save Item</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="addSpendType" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-primary" style="background-color: #2874A6">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="panel-title" style="color: #B2BABB">Add Spend Type</h4>
        </div>
        <div class="modal-body">
            <form accept-charset="UTF-8" role="form">
               <fieldset>
                 <div class="col-lg-12">
                          <div class="row">
                               <div class="col-lg-6">
                                <label for="gender">Spend Type</label>
                                <select class="form-control" [(ngModel)]="spendType.spend_type_name_ID"  name="type">
                                    <option value="" checked disabled>
                                        Select Spend Type
                                    </option>
                                   <option *ngFor="let cat of categories['0']" [value]="cat.spend_type_cat_ID">{{cat.cat_name}}</option>
                                </select>
                              </div>
                              <div class="col-lg-6">
                                  <label for="amount">Amount</label>
                                  <input type="number" [(ngModel)]="spendType.spend_type_Amt"  class="form-control" name="spend_type_Amt" placeholder="Enter amount">
                              </div>
                          </div>
                          <div class="row">
                           <div class="col-lg-12">
                              <label for="email">Description</label>
                              <textarea placeholder="Enter item description" [(ngModel)]="spendType.spend_type_desc" name="itemDesc" rows="4" class="form-control"></textarea>
                         </div>
                         </div>
                        </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveSpendType()">Save Type</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>