<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><p style="color: black; margin-left:50px; margin-top: 10px"><strong> Logged in as {{ currentUser?.user_Name }}  </strong></p></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-default" style="color: black; margin-right:100px; margin-top: 5px" (click)="logout()"> <strong> Logout</strong></button></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
<div class="col-lg-12">
    <ngb-tabset [justify]="currentJustify">
        <ngb-tab  title="LINE ITEMS">
            <ng-template ngbTabContent>
                <app-line-item></app-line-item>
            </ng-template>
        </ngb-tab>
        <ngb-tab  title="ANALYSIS OVERVIEW">
          <ng-template ngbTabContent>
              <app-charts></app-charts>
          </ng-template>
        </ngb-tab>
         <ngb-tab  title="CLASSIFY A TRANSACTION">
            <ng-template ngbTabContent>
                <app-trans-bank-statement></app-trans-bank-statement>
            </ng-template>
          </ngb-tab>
          <ngb-tab  title="BUDGET REPORT">
              <ng-template ngbTabContent>
                 <app-budget-report></app-budget-report>
              </ng-template>
            </ngb-tab>
          <ngb-tab  title="SPEND REPORT">
            <ng-template ngbTabContent>
               <app-spend-report></app-spend-report>
            </ng-template>
          </ngb-tab>
          <ngb-tab  title="VARIANT REPORT">
              <ng-template ngbTabContent>
              <app-variance-report></app-variance-report>
              </ng-template>
          </ngb-tab>
          <ngb-tab  title="MY PROFILE">
            <ng-template ngbTabContent>
                <app-my-profile></app-my-profile>
            </ng-template>
        </ngb-tab>
      </ngb-tabset> 
</div>
</div>
</div>
