<div class="container-fluid">
    <div class="row" style="margin-top: 30px">
      <div class="col-lg-4">
        <label>IMPORT A BANK STATEMENT</label>
        <input type="file" id="import" class="btn btn-default" accept=".csv,xlsx" (change)="handleFileSelect($event)" />  
      </div>
      <div class="col-lg-8">
         <div class="form-group" style="float:right">
            <button type="button" class="btn btn-warning" (click)="export()"> Export</button>
            <button type="button" class="btn btn-primary" (click)="print()"> Print</button>
         </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
                <label for="gender">Report Period</label>
                <input type="date" class="form-control" />  
            </div>
            <div class="col-lg-6">
                <label for="gender">Spend Type</label>
                <select class="form-control"  name="type">
                  <option value="" checked disabled>
                      Select Spend Type
                  </option>
                 <option *ngFor="let cat of categories['0']" [value]="cat.spend_type_cat_ID">{{cat.cat_name}}</option>
                </select>
           </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-body">Line entry on bank statement</div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-lg-6">
          <label for="comment" class="col-lg-12">Comment: </label>
          <textarea class="form-control" placeholder="comment" rows="5"></textarea>
      </div>
      <div class="col-lg-6">
          <label for="reportPeriod" class="col-lg-12">Budget Line Item</label>
              <select class="form-control"  name="type">
                <option value="" checked disabled>
                    Select Spend Type
                </option>
               <option *ngFor="let cat of categories['0']" [value]="cat.spend_type_cat_ID">{{cat.cat_name}}</option>
              </select>
         
          <div class="row" style="margin-left: 8px">
              <button type="button" class="btn btn-danger">Classify</button>
              <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
    </div>
  
  
  <div class="modal fade" id="bankStatement" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header modal-header-primary" style="background-color: #2874A6">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="panel-title" style="color: #B2BABB">Importing a bank statement</h4>
          </div>
          <div class="modal-body">
              <form accept-charset="UTF-8" role="form">
                 <fieldset *ngFor="let x of bank_Statement">
                        <div class="row">
                            <div class="col-lg-12">
                               <div class="panel panel-default">
                                    <div class="panel-body">List of downloaded bank statements
                                      <ul *ngFor="let y of x">
                                        <li>{{ y.name }}</li>
                                      </ul>
                                    </div>
                                </div>
                                 
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-lg-12">
                                <select class="form-control">
                                  <option>Select a bank</option>
                                  <option *ngFor="let z of x" [value]="z.name"> {{ z.name }}</option>
                                </select>
                            </div>
                         </div>
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">Import</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        
      </div>
    </div>
